.more-section {
  position: fixed;
  bottom: -40vh;
  background-blend-mode: screen;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 4.5rem 2.6rem 2.4rem 2.6rem;
  margin-left: -2.6rem;
}

.displayed {
  bottom: 0;
}

.more-info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.more-title {
  color: black;
  letter-spacing: 2px;
  font-size: 1rem;
}

.more-info {
  color: black;
  font-size: 2rem;
}
